@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|=Raleway');
$font: 'Playfair Display', serif;
$font-secondary: 'Raleway', sans-serif;
$primary-color: #f5efe3ec;
$secondary-color: #DED8C3;