@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');
$font: 'Playfair Display', serif;
$font-secondary: 'Raleway', sans-serif;
$primary-color: #f5efe3ec;
$secondary-color: #DED8C3;