.works{
    margin-top: 350px;
    background-color: #fff;
    padding: 10px 20px;
    border: none;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    letter-spacing: 2px;
    border-bottom: 1px solid #fff;
  }
  
  .works:hover{
    border-bottom: 1px solid #DED8C3;
    font-weight: 700;
  }