nav{
  padding: 30px 180px;
  align-self: flex-end;
  display: flex;
}

.nav-item{
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  background-color: transparent;
  padding: 10px 20px;
  border: none;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
  letter-spacing: 2px;
  border-bottom: 1px solid transparent;
}
  
.nav-item:hover{
  color: #a6aa9c;
  font-weight: 700;
}