nav{
  padding: 30px 60px;
  align-self: flex-end;
}

.nav-item{
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  color: #000;
  font-size: 14px;
  padding: 10px 15px;
}
  
.nav-item:hover{
  color: #a6aa9c;
  font-weight: 700;
}