.skills {
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 140px 197px 80px 197px;
  -webkit-clip-path: polygon(0px 100%,100% 100%,100% 0px,0px 20%);
  -ms-clip-path: polygon(0px 100%,100% 100%,100% 0px,0px 20%);
  clip-path: polygon(0px 100%,100% 100%,100% 0px,0px 20%);
  background-color: #AC6B53;
  line-height: 1.6;

  .skills-content {
    flex-direction: column;
  }

  .skills-itens {
    margin-bottom: 30px;
  }
}