@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|=Raleway');
$font: 'Playfair Display', serif;
$font-secondary: 'Raleway', sans-serif;
$primary-color: rgba(245, 239, 227, 0.925);
$secondary-color: #DED8C3;